<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script> <!-- Tailwind CSS CDN -->
</head>

<body class="bg-gray-100 font-sans">

    <div class="max-w-screen-lg mx-auto p-8">

        <header class="text-center mb-8">
            <h1 class="text-4xl font-semibold text-gray-800">Welcome to the Home Page</h1>
        </header>


        <nav class="bg-white shadow-lg rounded-lg p-6">
            <ul class="space-y-4 text-lg text-gray-700">
                <li><a href="/"
                        class="block py-2 px-4 rounded-md hover:bg-blue-500 hover:text-white transition duration-300">Home</a>
                </li>
                <li><a href="/dashboard"
                        class="block py-2 px-4 rounded-md hover:bg-blue-500 hover:text-white transition duration-300">Dashboard</a>
                </li>
            
                <li><a href="/register"
                        class="block py-2 px-4 rounded-md hover:bg-blue-500 hover:text-white transition duration-300">Sign
                        Up</a></li>
                <li><a href="/login"
                        class="block py-2 px-4 rounded-md hover:bg-blue-500 hover:text-white transition duration-300">Log
                        In</a></li>
                <li><a href="/post/createPost"
                        class="block py-2 px-4 rounded-md hover:bg-blue-500 hover:text-white transition duration-300">Create
                        Post</a></li>
            </ul>
        </nav>
    </div>
</body>

</html>